<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="info.snowhow.plugin.gpstrack"
      version="0.2.2">

    <name>gpstrack</name>

    <js-module src="www/gpstrack.js" name="gpstrack">
      <clobbers target="window.GPSTrack"/>
    </js-module>

    <dependency id="com.ququplay.websocket.WebSocket" url="https://github.com/mkuklis/phonegap-websocket" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GPSTrack">
                <param name="android-package" value="info.snowhow.plugin.GPSTrack"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="info.snowhow.plugin.RecorderService">
                <intent-filter>
                    <action android:name="info.snowhow.plugin.GPSTrack" />
                </intent-filter>
            </service>
            <receiver android:name="info.snowhow.plugin.RecorderService$RecorderServiceBroadcastReceiver" />
        </config-file>

        <source-file src="src/android/GPSTrack.java" target-dir="src/info/snowhow/plugin" />
        <source-file src="src/android/RecorderService.java" target-dir="src/info/snowhow/plugin" />
        <source-file src="src/android/GPSServer.java" target-dir="src/info/snowhow/plugin" />
    </platform>

</plugin>
